<div class="main-nav">
 
    <div class="row">
      <div class="col-md-2">
        <img src="../assets/logo.jpg" alt="Logo">
      </div>

      <div  class="col-md-7">
        <p class="tekst">Olimpijske igre Tokio 2021</p>
      </div>

      <div class="col-md-3">
        <ul class="main-menu">
          <li><a routerLink="">Pocetna</a></li>
          <li><a routerLink="prijava">Prijava</a></li>
          <li><a routerLink="registracija">Registracija</a></li>
        </ul>
      </div>
    </div>
 
</div>

<router-outlet></router-outlet>